body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    background-color: red;

}

.img-fluid {
    margin-left: 90px;
    margin-top: 20px;
    height: 400px;
    width: auto;
    border-radius: 10px;
}
