* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url("options-bg3.png");
    background-position: center center;
    background-size: cover;
}

h1 {
    font-family: Open Sans, sans-serif;
    font-size: 48px;
    padding-top: 30px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.wrapper {
    width: 800px;
    margin: 5% auto;
    border-radius: 25px;
    padding: 1.9em;

}
.form {
    display: flex;
    background: rgba(9, 32, 37, 0.84);
}

.description {
    display: flex;
    flex-direction: column;
    order: 2;
}
.description > textarea {
    flex: 1;
    min-width: 16em;
    background: transparent;
    color: #fff;
    padding: 15px;
}

.details {
    flex: 1;
    margin-right: 2em;
}

.details input {
    width: 100%;
    background: transparent;
    color: #fdf8ff;
    border-radius: 40px;
    margin-left: 15px;
}

.details input,
.details button {
    padding: 1em;
    margin-bottom: 1em;
}

.details button {
    background: #3ca587;
    color: #fdf8ff;
    border: 0;
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 15px;
}
.details button:hover {
    background: #41d8b8;
}

label {
    color: #fdf8ff;
    padding-left: 15px;
    text-transform: uppercase;
    line-height: 40px;
}