<div class="wrapper">
    <h1 id="new-exercise-heading">New Exercise</h1>
    <form method="post" action="lib/save.php" class="form" id="exercise-form">

        <input type="hidden" id="formname" name="formname" value="exercise_form">
        <input type="hidden" id="afterinsert" name="afterinsert" value="profile.php">
        <input type="hidden" id="tablename" name="tablename" value="exercises">
        <input type="hidden" id="pkey" name="pkey" value="exe_id">

        <div class="description">
            <label for="exe_desc" class="col-form-label">Description</label>
            <textarea class="form-control" id="exe_desc" name="exe_desc" value=""></textarea>
        </div>
        <div class="details">
<!--            <label for="exe_id" class="col-form-label">Id</label>-->
<!--            <input type="text" class="form-control" id="exe_id" name="exe_id" readonly value="">-->

            <label for="exe_name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="exe_name" name="exe_name" value="">

            <label for="exe_sets" class="col-form-label">Sets</label>
            <input type="text" class="form-control" id="exe_sets" name="exe_sets" value="">

            <label for="exe_reps" class="col-form-label">Reps</label>
            <input type="text" class="form-control" id="exe_reps" name="exe_reps" value="">

            <label for="exe_cat" class="col-form-label">Category</label>
            <input type="text" class="form-control" id="exe_cat" name="exe_cat" value="">

            <label for="exe_img" class="col-form-label">Image</label>
            <input type="text" class="form-control" id="exe_img" name="exe_img" value="">

            <input type="submit" name="savebutton" id="savebutton" value="Save">
        </div>
    </form>
    <form action="lib/upload_functions.php" method="post" enctype="multipart/form-data">
        Select images to upload:
        <input type="file" name="file1" id="file1">
        <input type="file" name="file2" id="file2">
        <input type="submit" value="Opladen" name="submit">
    </form>

</div>


