<div class="vertical_space_10vh"></div>

<div class="card" style="width: 45%; float: left;margin-right: 20px;">

    <div class="card-body">
        <h5 class="card-title">Log In</h5>
        <p class="card-text">If you have an account, you can log in here.</p>
        <a href="login.php" class="btn btn-primary">Login</a>
    </div>

</div>

<div class="card" style="width: 45%; float: left;">

    <div class="card-body">
        <h5 class="card-title">Register</h5>
        <p class="card-text">If you don't already have an account, you may register here.</p>
        <a href="register.php" class="btn btn-primary">Register</a>
    </div>

</div>